@page
@model MyBudgetPal.Pages.ExpenseManagerModel
@{
}

<div class="container-fluid text-center">
    <div class="row">
        <div class="form-group col-md-12 mx-auto">
            <h1 class="display-4">Expense Manager</h1>
        </div>
    </div>
</div>
