@page
@model CreateModel
@{
}
<link rel="stylesheet" href="~/css/create.css" />

<div>
    <form method="post">

        <h3>Pattern Name</h3>
        <input type="text" name="pName" />

        <h3>Tactics Used</h3>
        @{
            foreach (var tactic in JSONTypes.TacticNames)
            {
                <input type="checkbox" value="@tactic.Key.ToString()" name="@tactic.Key.ToString()" />
                <label>@tactic.Value.Value</label>
                <br />
            }
        }

        <h3>Description</h3>
        <input type="text" name="description" />


        <input type="submit" asp-page-handler="Create" value="Submit">
    </form>
</div>