@page
@model SearchModel
@{
}


<div class="text-center">
    <label>Common Names</label>
    <label>Alternate Names</label>
    <label>Target Sector</label>
    <label>Attack Vector</label>
    <label>Associated Malware</label>
    <label>TTps</label>
    <label>Modus Operandi</label>
</div>
